.App {
  max-width: 600px;
  margin: 10px auto;
}

.text-primary {
  text-align: center;
}

.list-group {
}

.list-group-item {
  list-style-type: none;
  padding: 10px 5px;
  border: 1px solid teal;
  margin-bottom: 10px;
  min-width: 550px;
}
.pagin {
  margin: 10px auto;
}
.pagination {
  display: flex;
  text-align: center;
  list-style-type: none;
  justify-content: center;
}
.page-link {
  padding: 10px;

  margin: 5px;
  text-decoration: none;
  color: white;
  background-color: teal;
  font-weight: bold;
}
.page-link:hover {
  cursor: pointer;
  border: 1px solid rgb(2, 71, 71);
  background-color: rgb(2, 71, 71);
}

.blog {
  display: flex;
  align-items: center;
}

.del {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
